<h2>Publishers</h2>

<table class="table table-striped">
	<tr>
		<th>Publisher's Name</th>
		<th>Action</th>
	</tr>	

	<% @publishers.each do |publisher| %>
		<tr>
			<td><%= publisher.name %></td>
			<td><%= link_to 'Edit', edit_publisher_path(publisher.id) %> | <%= link_to 'Delete',publisher_path(publisher), method: :delete, data: {confirm: "Are you sure you want to delete this publisher?"}%></td>
		</tr>
	<% end %>
</table>